Método da bisecção para achar a raiz de uma função consiste nos seguintes
passos:

Passo 1: Partir de um intervalo inicial [a1, b1], tal que f(a1) e f(b1) tenham sinais contrários.

Passo 2: Na iteração k, dividir o intervalo [ak, bk] em dois subintervalos [ak, xk] e [xk, bk], sendo xk = (ak + bk)/2 o ponto
médio entre ak e bk.

Passo 3: Decidir qual subintervalo contém o zero de f e
renomear xk de modo a obter um novo intervalo [ak+1, bk+1] tal que f(ak+1) e f(bk+1) tenham sinais contrários.

Passo 4: Repetir os passos 2 e 3 até atingir a precisão desejada.

FUNÇÕES AUXILIARES

In [156]:
from math import e as euler
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

REPETITIONS   = 'n\u207F'
LEFT_BOUND    = 'a\u207F'
RIGHT_BOUND   = 'b\u207F'
MIDDLE_POINT  = 'x\u207F'
FX            = 'f(x\u207F)'
FA            = 'f(a\u207F)'
FA_FX         = 'f(a\u207F) * f(x\u207F)'

table_values = {
    REPETITIONS: [],
    LEFT_BOUND: [],
    RIGHT_BOUND: [],
    MIDDLE_POINT: [],
    FX: [],
    FA: [],
    FA_FX: []
}

def function( x ):
    return x**3 - 9*x + 5

def plot_function( x, y, a, b, root ):
    x_values = np.linspace( x, y, 1000 )
    y_values = function( x_values )

    plt.figure( figsize=(6, 6), facecolor='#282a36', edgecolor='black' ) 
    plt.plot( x_values, y_values, label='f(x) = x^3 - 9x + 5' )

    plt.tick_params( axis='x', colors='white' )
    plt.tick_params( axis='y', colors='white' )

    plt.scatter( a, function( a ), color='green', label='Bound Left' )
    plt.scatter( b, function( b ), color='green', label='Bound Right' )
    plt.scatter( root, function( root ), color='red', label='Root' )
    plt.grid( True )
    plt.show()

def average( a, b ):
    return ( a + b ) / 2

def weighted_average( a, b, f_a, f_b ):
    return ( ( a * f_b ) - ( b * f_a ) ) / ( f_b - f_a )

def product( x1, x2 ):
    return x1 * x2 

def display_table():
    df = pd.DataFrame( table_values )
    df.columns = [REPETITIONS, LEFT_BOUND, RIGHT_BOUND, MIDDLE_POINT, FX, FA, FA_FX]
    display( df.style.hide( axis="index" ).format( na_rep = None, precision = 4 ) )
    clear_table()

def add_values( repetitions, a, b, x, f_x, f_a, f_x_f_a ):
    table_values[REPETITIONS].append( repetitions )
    table_values[LEFT_BOUND].append( a )
    table_values[RIGHT_BOUND].append( b )
    table_values[MIDDLE_POINT].append( x )
    table_values[FX].append( f_x )
    table_values[FA].append( f_a )
    if f_x_f_a > 0:
        table_values[FA_FX].append( '> 0' )
    elif f_x_f_a < 0:
        table_values[FA_FX].append( '< 0' )

def clear_table():
    for key in table_values:
        table_values[key] = []

Método da Bissecção:

1. Se function(left) x function(middle) > 0   então raiz estao no intervalo [ middle, right ], logo left = middle 

2. Senão se function(left) . function(middle) < 0    então raiz estao no intervalo [ left, middle ], logo right = middle 

Parametros

<li>left: Limite a esquerda do intervalo.</li>
<li>right: Limite a direita do intervalo.</li>

Critérios de paradas:
<li>e: Epsilon;</li>

<li>n: Número de iterações.</li>

Return middle: Raiz aproximada.

In [157]:
def bisection( left , right , e = None, n = None):
    counter = 0
    if ( e is not None and n is not None ) or ( e is None and n is None ):
        raise ValueError( 'You must provide either the number of iterations or the epsilon margin' )

    while e is not None and ( abs( right - left ) ) >= e:
        counter += 1
        middle = average( left, right )
        prod = product( function( left ), function( middle ) )
        add_values( counter, left, right, middle, function( middle ), function( left ), prod )
        left = middle if prod > 0 else left
        right = middle if prod < 0 else right
                                           
    while n is not None and counter < n:
        counter += 1
        middle = average( left, right )
        prod = product( function( left ), function( middle ) )
        add_values( counter, left, right, middle, function( middle ), function( left ), prod )
        left = middle if prod > 0 else left
        right = middle if prod < 0 else right	
    return middle

In [158]:
def false_positon( left, right, e = None, n = None ):
    counter = 0
    if ( e is not None and n is not None ) or ( e is None and n is None ):
        raise ValueError( 'You must provide either the number of iterations or the epsilon margin' )
    
    while e is not None and abs( abs( right - left ) ) >= e:
        counter += 1
        middle = weighted_average( left, right, function( left ), function( right ) )
        prod = product( function( left ), function( middle ) )
        add_values( counter, left, right, middle, function( middle ), function( left ), prod )
        left = middle if prod > 0 else left
        right = middle if prod < 0 else right
    
    return middle

In [159]:
if __name__ == '__main__':
    try:
        #root = bisection( 0.5, 1, 0.01, None )
        #plot_function( -1, 3, 0.5, 1, root)
        #display_table()

        root = false_positon( 0, 1, 0.0005, None )
        display_table()
        
    except ValueError as e:
        print( e )